{% extends 'shoping_app/base.html' %}
{% block content%}
<section class="section-content padding-y">
        <h1 class="text-center">Contact</h1>

        <h4 class="text-center">Contact us directly if you have any questions</h4>

        <!-- ============================ COMPONENT REGISTER   ================================= -->
            <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
              <article class="card-body">
                {% include 'includes/alerts.html' %}
                <header class="mb-4 text-info"><h4 class="card-title text-center">Contact Form</h4></header>
                <form action="{% url 'contact' %}" method="POST" novalidate>
                    {% csrf_token %}
                        <div class="form-row">
                            <div class="col form-group">
                                <label>First name</label>
                                {{form.first_name}} <samll class="text-danger">{{form.first_name.errors | striptags}}</small>
                            </div> <!-- form-group end.// -->
                            <div class="col form-group">
                                <label>Last name</label>
                                {{form.last_name}} <small class="text-danger">{{form.last_name.errors | striptags}}</small>
                            </div> <!-- form-group end.// -->
                        </div> <!-- form-row end.// -->
                        <div class="form-row">
                            <div class="form-group col-md-12">
                              <label>Email Address</label>
                              {{form.email_address}} <small class="text-danger">{{form.email_address.errors | striptags}}</small>
                            </div> <!-- form-group end.// -->
                        </div> <!-- form-row.// -->
                        <div class="form-row">
                                <label>Message</label>
                                {{form.message}} <small class="text-danger">{{form.message | striptags}}</small> 
                        </div>
                        <br>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Register  </button>
                        </div> 
                        {% if form.non_field_errors%}
                        <div class="alert alert-danger">
                            <ul>
                            {% for error in form.non_field_errors%}
                            <li class="text-danger">{{error}}</li>
                                {% endfor %}
                        </div>
                        {% endif %}
                </form>
            </article><!-- card-body.// -->
</section>
{%endblock%}