{% extends 'shoping_app/base.html' %}
{%block content%}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

    <div class="container">
        <div class="row">
            {% include 'includes/alerts.html' %}
        <aside class="col-md-3">
            <!--   SIDEBAR   -->
            {% include 'includes/dashboard_sidebar.html' %}
            <br>
            <a class="btn btn-light btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a> 
            <!--   SIDEBAR .//END   -->
        </aside>
        <main class="col-md-9">
            <article class="card">
            <header class="card-header">
                <strong class="d-inline-block mr-3">Change Your Password:</strong>
            </header>
            <div class="card-body">
                <div class="row"> 
                    <div class="col-md-12">
                      <form action="{% url 'change_password' %}" method="POST">
                          {% csrf_token %}
                          <div class="form-group">
                            <input type="password" class="form-control" placeholder="Enter old Password" name="current_password">
                         </div>
                          <div class="form-group">
                             <input type="password" class="form-control" placeholder="Create New Password" name="new_password">
                          </div> <!-- form-group// -->
                          <div class="form-group">
                            <input type="password" class="form-control" placeholder=" Confirm New Password" name="confirm_password">
                          </div>
                          <input type="submit" value="Submit" class="btn btn-primary">
                      </form>
                    </div>

                    
                </div> <!-- row.// -->
            </div> <!-- card-body .// -->
            <!-- table-responsive .end// -->

            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

{%endblock%}